@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <p>Instructor: @ViewData["nome"]</p>
    <p>@ViewData["email"]</p>
    <p><span style="font-weight:bold">Talk to me</span> <a href="https://appear.in/systemteam" target="_blank">click here</a></p>
</div>
